body {
    margin: 0;
    width: 100%;
    background-color: navajowhite;
}

h1 {
    text-align: center;
    margin: 10px auto;
    width: 300px;
}

#recipes-list {
   text-align: center;
   list-style-position: inside;
   margin: 0 auto; 
   width: 300px;
   padding: 0;
   background-color: blanchedalmond;
   list-style-type: none;
}

#recipes-list a {
    text-decoration: underline;
    color:rgb(78, 46, 8);
}



